.button {
  background-color: var(--background-color);
  color: var(--color-primary);
  border-radius: 12px;
  border: 1px var(--color-primary) solid;
  padding: 10px 16px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
