.button {
  background-color: var(--background-color);
  color: #34c94b;
  border-radius: 12px;
  border: 1px #34c94b solid;
  padding: 10px 16px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
