.section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 32px;
}

.sectionHeader {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.textButton {
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.carouselWrapper {
  position: relative;
}

.cardCarousel {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  padding-left: 12px;
  padding-right: 12px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.leftBtn,
.rightBtn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: white;
  font-size: 24px;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
}

.leftBtn {
  left: -8px;
  padding-right: 2px;
}

.rightBtn {
  right: -8px;
  padding-left: 2px;
}

.genres {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.genresCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.genresCardText {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  padding: 0px 22px;
}

.genresCardIndicator {
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.genresCardIndicatorSelected {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-primary);
}
